body {
    margin-left: 25%;
    margin-right: 25%;
}
nav {
    float: right;
    margin-top: 2%;
}
header {
    padding: 5%;
}
footer {
    padding: 2%;
}
p {
    vertical-align: bottom;
    display: inline-block;
    padding: 10%
}
header, footer, nav, p, img {
    border-style: solid;
    border-width: 1px;
}